// *Vars
// !Colors
$white: #fff;
$black: #000;
$font: 'JetBrains Mono', monospace;

// */Vars

body {
    min-width: 320px;
    font-family: $font;
    font-size: 16px;
    line-height: 1.3; 
    color: $white;
    background-color: $black;
}

input, textarea {
    display: inline-block;
    background-color: $white;
    border-radius: 10px;
    padding: 13px 16px;
}

textarea {
    min-height: 110px;
}

button {
    cursor: pointer;
}

.overflow-hidden {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

// Block scroll for Safari
.block-scroll {
    overflow: hidden;
    height: 100%;

    body {
        overflow: hidden;
        height: 100%;
    }
}
// /Block scroll for Safari

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 64px;
    margin: 0 auto;
    @media screen and (max-width: 700px) {
        padding: 0 30px;
    }
    @media screen and (max-width: 575px) {
        padding: 0 16px;
    }
}

.logo {
    display: inline-block;
    img {
        vertical-align: middle;
    }
}

.title {
    font-size: 36px;
    font-weight: 500;
}

.button {
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;

    span {
        display: inline-block;
        margin-left: 16px;
    }

    @media screen and (min-width: 1024px) {
        span {
            transition: .35s ease;
        }
        &:hover {
            span {
                transform: translateX(-6px);
            }
        }
    }
}

.button-brackets {
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 4px;
    width: 350px;

    &::before,
    &::after {
        font: inherit;
        color: inherit;
        transition: .3s ease;
    }

    &::before {
        content: '[';
    }

    &::after {
        content: ']';
    }

    @media screen and (min-width: 768px) {
        transition: .3s ease;
        &:hover {
            color: $white;
            background-color: $black;
        }
    }

    @media screen and (max-width: 575px) {
        min-width: 238px;
        width: auto;
        display: inline-flex;
    }
}

.section {
    padding: 64px 0;
    margin-bottom: 64px;

    @media screen and (max-width: 1024px) {
        padding: 24px 0;
        margin-bottom: 24px;
    }

    &__head {
        max-width: 350px;
        text-align: center;
        margin: 0 auto 48px;
        padding: 24px 0 16px;

        @media screen and (max-width: 1024px) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: 575px) {
            text-align: left;
            margin-left: 0;
        }
    }

    &__text {
        margin-top: 24px;

        @media screen and (max-width: 575px) {
            margin-top: 16px;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 500;

        @media screen and (max-width: 1024px) {
            font-size: 36px;
        }

        @media screen and (max-width: 575px) {
            font-weight: 600;
            font-size: 28px;
        }
    }

    &__btn {
        margin-top: 24px;
        @media screen and (max-width: 1024px) {
            margin-top: 16px;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    li {
        margin: 0 8px;
    }
}
