.form {
    padding-top: 72px;
    max-width: 388px;
    margin: 0 auto;
    
    &__title {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 16px;

        @media screen and (max-width: 575px) {
            font-size: 24px;
        }
    }

    &__item {
        margin-bottom: 16px;

        input, textarea {
            display: block;
            width: 100%;
            font-weight: 500;
            color: $white;
            background-color: $black;
            padding: 13px 16px;
            border: 1px solid rgba($white, 0.5);

            &::placeholder {
                color: rgba($white, 0.3);
            }
        }

        textarea {
            min-height: 110px;
        }
    }

    &__btn-upload {
        cursor: pointer;
        input {
            display: none;
        }
    }

    &__btn-box {
        display: block;
        padding: 13px 16px;
        text-align: center;
        font-weight: 500;
        border: 1px dashed rgba($white, 0.5);
    }

    &__info {
        margin-bottom: 40px;
        p {
            font-size: 13px;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__info-title {
        margin-bottom: 8px;
        font-weight: 500;
    }
}
